<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    

    <h1>Our Policies</h1>
    <p>Deliveries will take effect upon order</p>
    <p>Payments options are two, pay in advance or after delivery. For later 
        payments,  you will receive communication when goods are dispatched.
    </p>
    
</body>
</html>